{% load i18n %}
<!---Barra de navegación-->
<nav class="navbar navbar-expand-md navbar-dark mb-4 bg-nav">
    <a class="navbar-brand" href="#">Django Test App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            {%if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'create'%}">Agregar un artículo</a>
            </li>
            {%endif%}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'lista'%}">Mi lista de compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
            </li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            {%if request.user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.first_name}} {{user.last_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="">{{user.first_name}}</a>
                  <div class="dropdown-divider"></div>
                  {%if user.is_staff %}
                      <a class="dropdown-item" href="{%url 'logout'%}"><i class="fas fa-clipboard-list"></i>{%trans "Salir"%}</a>
                  {%else%}
                      <a class="dropdown-item" href="{%url 'logout'%}"><i class="fas fa-clipboard-list"></i>{%trans "Salir"%}</a>
                  {%endif%}
                </div>
              </li>
            {%else%}
            <li class="nav-item">
                <a href="{%url 'login'%}" class="nav-link">{%trans "Login"%}</a>
            </li>
            <li class="nav-item">
                <a href="{%url 'register'%}" class="nav-link">{%trans "Register"%}</a>
            </li>
            {%endif%}
        </div>
    </div>
</nav>